:root{
    --rosaClaro: #FDD4DD;
    --rosaEscuro: #FFB4C4;
    --rosaMedio: #FFB4C4;
    --cinzaClaro: #f5f5f5;
}
*{
    margin: 0;
    padding: 0;
    
}

h2 #titulo{
    text-align: center;
    color: var(--rosaEscuro);  
    position: fixed;  
}
